
.container{
  display: grid;
  grid-template-columns: 550px 1fr;
  grid-template-rows: auto 1fr;
  height: 100%;
  width: 100%;
}

.about{
  grid-column: 1/2;
  grid-row: 1/2;
  background-color: rgb(12, 12, 12);
  color: white;
  font-size: 1.8rem;
  padding: 60px 30px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info{
  grid-column: 1/2;
  grid-row: 2/-1;
  background-color:#b57d51;
  padding: 10px 30px;
  font-size: 1.2rem;
}

.info .hoursContainer{
  list-style-type: none;
  margin-bottom: 10px;
}

.hoursContainer .hoursHeader{
  font-size: 1.5rem;
  font-weight: normal;
  margin-bottom: 5px;
}

.hoursContainer .days{
  margin-left: 20px;
}

.locationContainer h3{
  font-size: 1.5rem;
  font-weight: normal;
  margin-bottom: 5px;
}

.locationContainer p{
  margin-left: 20px;
}
.homePageImg{
  grid-column: 2/-1;
  grid-row: 1/-1;
  background-image: url('../img/pexels-cottonbro-4551907.jpg');
  background-size:cover;
  background-repeat: no-repeat;
  position: relative;
}

.imgAttribution{
  text-decoration: none;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 2px 4px;
  background-color: rgba(0, 0, 0, 0.404);
  color: gray;
}

